.car-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 1rem; 
  padding: 1rem;
  justify-content: center; 
  box-sizing: border-box; 
}

.car-list > * {
  margin: 0 auto; 
}

@media (max-width: 480px) {
  .car-list {
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 0.5rem; 
  }
}
